# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
vendor/src/github.com/boltdb/bolt/
.autoenv.zsh
src/relm/elm-stuff
src/rtime/static/elm.js
bin
src/rcss/Font-Awesome
src/rcss/foundation-sites
.doit.db
src/rtime/static/style.css
vendor/src/github.com/GeertJohan/go.rice/
vendor/src/github.com/daaku/go.zipexe/
vendor/src/github.com/kardianos/osext/
vendor/src/github.com/inconshreveable/log15/
vendor/src/github.com/go-stack/stack/
vendor/src/github.com/mattn/go-colorable/
vendor/src/github.com/juju/errors/
