@import "settings";
@import "foundation";
$fa-font-path:        "./fonts" !default;
@import "font-awesome";

@include foundation-everything(true);

ul.graph {
    border: 1px solid #eee;
    position: relative;
    height: 132px;
    width: 1026px;
    margin-left: 0px;

    li {
        list-style: none;
        position: absolute;
        width: 1px;
        background: blue;
        bottom: 0px;
    }
}
